<header>
    <div>
        <img src="/assets/img/icons/search.png" alt="">
        <input type="text" placeholder="Search store">            
    </div>
    
    <nav>
        <ul>
            <li><a href="#" class="active">Products</a></li>
            <li><a href="#">Story</a></li>
            <li><a href="#">Manufacturing</a></li>
            <li><a href="#">Packaging</a></li>
        </ul>
    </nav>

    <div id="header-icons">
        <ul>
        <li><img src="/assets/img/icons/user.png" alt="user" style="height: 22px;"></li>
        <li><img src="/assets/img/icons/shopping-bag.png" alt="cart"></li>
        </ul>
    </div>
</header>